# Environment variables
.env

# Node dependencies
node_modules/

# Certificates / secrets
cert/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

schema.sql

TODO.md

.claude
CLAUDE.md

index.html