
.navbar{
    display: flex;
    flex-direction: row;

    position: sticky;

    top: 0%;
    left: 0%;

    height: var(--navbar-height);
    width: 100%;

    margin: 0%;

	background-color: var(--navbar-clr);
	color: var(--navbar--txt);

    z-index: 10;
}

.navbar-left, .navbar-middle, .navbar-right{
    display: flex;

    justify-content: center;
    align-items: center;

	background-color: var(--navbar-clr);

    padding: 0 1em;

    width: 33.33%;

	z-index: 10;
}

.search-container{
    display: flex;
    justify-content: center;
    
    position: sticky;
    top: var(--navbar-height);

    width: 100%;
	height: 100%;

	z-index: 10;
}

.search-container form{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
	height: 100%;

	padding: 1em 0em;
}

.search-container .solid-btn{
	height: 100%;
}

.input-wrapper{
    position: relative;
    width: 80%;
    height: 100%;
}

.input-wrapper input{
	color: white;
    background-color: var(--second-bg);
    
    width: 100%;
    height: 100%;
    
    border: none;
    border-radius: 0.25em;
    
    padding: 1em 3em;
}

#search-icon{
	display: flex;
    position: absolute;

    top: 50%;
    left: 1em;
    transform: translate(0%, -50%);

    border: none;
    background-color: transparent;

    margin: 0%;
    padding: 0%;

    z-index: 2;
}

#search-clear{
	display: flex;
    position: absolute;

    top: 50%;
    right: 1em;
    transform: translate(0%, -50%);

    border: none;
    background-color: transparent;

    margin: 0%;
    padding: 0%;

    z-index: 2;
}

.athletes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    justify-items: center;
    align-content: center;

    width: 100%;

    gap: 2em;
    padding: 0 2em;
}

#search-prompt{
    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    font-weight: 600;
}


.navbar-left{
    justify-content: flex-start;
}

.navbar-left img{
    height: 100%;
    aspect-ratio: 1;

    margin-left: 0.5em;
}

.navbar-right{
    justify-content: flex-end;

	padding: 1em
}

.navbar-navigation{
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    width: 50%;

    margin: 0%;
    padding: 0%;

    list-style: none;
}

.navbar-navigation li{
    font-weight: 600;
    position: relative;
    
    padding: 0 1em;
    
    height: 100%;
    
    transition: background-color 0.2s ease;
    
    cursor: pointer;
}

#profile_btn{
    background-color: var(--second-bg);

    aspect-ratio: 1;

    border-radius: 0.25em;
    border: none;

	height: 100%;

	margin: 0%;
}

#join_btn{
	height: 100%;
}

.search-menu{
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0%;
	left: 0%;

	width: 100%;

	box-sizing: border-box; /* Ensures padding is included in height/width */

	border-radius: 0em 0em 0.25em 0.25em;

	background-image: 
		linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
		linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px),

		linear-gradient(to bottom right, var(--navbar-clr), rgba(0, 0, 0, 0.3), rgba(80, 120, 255, 0.4));

	background-color: var(--navbar-clr);
	background-size: var(--grid-size) var(--grid-size), var(--grid-size) var(--grid-size), auto;

	margin-top: var(--navbar-height);

	color: var(--navbar-txt);

	transform: translateY(-100%);

	z-index: -1;

	overflow-y: auto; /* Fallback if screen height is extremely small */

	transition:
		transform 400ms ease-in-out;
}

.results{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 2em;

	place-items: baseline;

	padding: 2em 2em 0em 2em;

	flex: 1;
	min-height: 0;
	width: 100%;
}

.results > * {
	aspect-ratio: 1 / 1;

	background-color: var(--navbar-clr);
	border-radius: 0.25em;
}

.visible-results{
	transform: translateY(0%);
}

.user{
    display: flex;
    flex-direction: column-reverse;

    position: relative;

    width: 100%;

    aspect-ratio: 1;

    background-color: #000;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	border: none;
    border-radius: 0.25em;

    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;

    text-decoration: none;
}

.user.show{
	opacity: 1;
}

.user-info{
    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 100%;

    color: var(--navbar-txt);
	backdrop-filter: blur(20px);

	border: none;
    border-radius: 0.25em;

    padding: 1em;

	font-family: 'Oswald', sans-serif;
}

.user-name{
	font-family: inherit;
    font-weight: 600;
}

.user-record{
	font-family: inherit;
}

.pagination{
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 0.5em;

	color: var(--navbar-txt);

    margin: 0.5em auto;

    font-weight: 600;

	flex-shrink: 0;

	transition: opacity 200ms ease-in-out;
}

.page-input{
    margin: 0%;
    padding: 0.5em;
}

.page-input:hover{
    text-decoration: underline !important;
}

.page-input.active{
    text-decoration: underline;
}
