
.navbar{
    display: flex;
    flex-direction: row;

    position: sticky;

    top: 0%;
    left: 0%;

    height: var(--navbar-height);
    width: 100%;

    margin: 0%;

    background-color: rgb(0, 0, 0);
    color: var(--main-txt);

    z-index: 5;
}

.navbar-left, .navbar-middle, .navbar-right{
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0 0.5em;

    width: 33.33%;
}

.search-container{
    display: flex;
    justify-content: center;
    
    position: sticky;
    top: var(--navbar-height);

    width: 100%;
	height: 100%;

    z-index: 1;
}

.search-container form{
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
	height: 100%;

	padding: 1em 0em;
}

.search-container .solid-btn{
	height: 100%;
}

.input-wrapper{
    position: relative;
    width: 80%;
    height: 100%;
}

.input-wrapper input{
	color: white;
    background-color: var(--second-bg);
    
    width: 100%;
    height: 100%;
    
    border: none;
    border-radius: 0.25em;
    
    padding: 1em 3em;
}

#search-icon{
	display: flex;
    position: absolute;

    top: 50%;
    left: 1em;
    transform: translate(0%, -50%);

    border: none;
    background-color: transparent;

    margin: 0%;
    padding: 0%;

    z-index: 2;
}

#search-clear{
	display: flex;
    position: absolute;

    top: 50%;
    right: 1em;
    transform: translate(0%, -50%);

    border: none;
    background-color: transparent;

    margin: 0%;
    padding: 0%;

    z-index: 2;
}

.athletes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    justify-items: center;
    align-content: center;

    width: 100%;

    gap: 2em;
    padding: 0 2em;
}

#search-prompt{
    position: absolute;

    left: 50%;
    transform: translate(-50%, 0%);

    font-weight: 600;
}


.navbar-left{
    justify-content: flex-start;
}

.navbar-left img{
    height: 100%;
    aspect-ratio: 1;

    margin-left: 0.5em;
}

.navbar-right{
    justify-content: flex-end;
}

.navbar-navigation{
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;

    width: 50%;

    margin: 0%;
    padding: 0%;

    list-style: none;
}

.navbar-navigation li{
    font-weight: 600;
    position: relative;
    
    padding: 0 1em;
    
    height: 100%;
    
    transition: background-color 0.2s ease;
    
    cursor: pointer;
}

#profile_btn{
    background-color: transparent;

    aspect-ratio: 1;

    border-radius: 50%;
    border: none;
}